@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
  }
  img {
    @apply inline-block
  }
}

html {
  font-size: 14px;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../public/fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../public/fonts/Inter-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../public/fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../public/fonts/DMSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../public/fonts/DMSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../public/fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../public/fonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../public/fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input:focus {
  outline: none !important;
  border: 2px solid #EE8062 !important;
  box-shadow: none !important;
}
.no-input input:focus {
  border: none !important;
}